<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Download Web Contents.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EF218C81D017D35005A702D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF218DC1D017D35005A702D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF218E71D017D35005A702D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
